<div class="login-container">

  <h2>Login</h2>

  <form (ngSubmit)="onLogin()">

    <input
      type="text"
      placeholder="Usuario"
      [(ngModel)]="loginData.username"
      name="username"
      required
    >

    <input
      type="password"
      placeholder="Contraseña"
      [(ngModel)]="loginData.password"
      name="password"
      required
    >

    <button type="submit">
      Ingresar
    </button>

  </form>

  <p *ngIf="errorMessage">
    {{ errorMessage }}
  </p>

</div>